@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Baloo+Paaji+2:wght@400..800&display=swap");

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Baloo Paaji 2", serif;
    width: 100%;
}

.bannerImg {
    width: 120%;
    margin-bottom: 0;
}

.mainHeader {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h4 {
    color: #ffd444;
    font-family: "Atma", serif;
    font-size: 2.8rem;
    text-align: center;
    width: 90%;
    margin-top: 40px;
}

.headerMessage {
    color: #9099c4;
    margin: 0 0 10px 0;
    padding: 10px 20px;
    font-size: 1.6rem;
    position: relative;
    bottom: 40px;
    font-weight: bold;
    background-color: #1e2442;
    border-radius: 8px;
}

.entryCard {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #50587e;
    width: 700px;
}

.profilePicBox {
    flex: 0 0 50px;
    margin: 5px 20px 0 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.profilePicBox img {
    width: 100%; 
    height: auto;
    border-radius: 50%; 
}

.mainBodyContainer {
    background-image: linear-gradient(to bottom right, #86c9dc, #c673c2);
    border-radius: 12px;
    padding: 20px 35px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainEntryContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
}

.header {
    display: flex;
    align-items: center;
    color: #fefbe2;
    font-size: 1.2rem;
}

.header .profileLink {
    text-decoration: none;
    font-weight: bold;
    color: #fefbe2;
}

.header span {
    margin: 0 10px;
}

.entryInfo {
    margin-bottom: 10px;
    width: 90%;
}

.h1 {
    font-family: "Atma", serif;
    color: #ffd444;
    font-size: 1.6rem;
}

.entryBody {
    font-size: 1.4rem;
    color: #fefbe2;
}

.entryPic {
    width: 100%;
    border-radius: 8px;
}

.scrollTopButton {
    position: fixed;
    top: 20px; 
    right: 20px;
    z-index: 1000;
}

.scrollTopButton.show {
    display: block; 
}


.scrollTopButton {
    transition: opacity 0.3s ease;
}
