@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Baloo+Paaji+2:wght@400..800&display=swap");

.mainBodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Baloo Paaji 2", serif;
}

.headerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    font-family: "Atma", serif;
    color: #ffd444;
    font-size: 3rem;
}

.headerButton {
    align-self: center;
    padding: 10px 20px;
    font-family: "Atma", serif;
    font-size: 25px;
    font-weight: 600;
    background-color: #1e2442;
    color: #cacee2;
    border-radius: 8px;
}

.entriesContainer {
    margin: 40px 0;
    padding: 20px 60px;
    background-image: linear-gradient(to bottom right, #86c9dc, #c673c2);    
    border-radius: 10px;
    width: 70%;
}

.entryCardBox {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
    margin: 40px 0;
}

.entryCard {
    border: 3px solid #5b2662;
    border-radius: 8px;
    width: 95%;
    background-color: #8f6a99;
    display: flex;
    flex-direction: column;
}

.entryHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #5b2662;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 80px;
    color: #e6bff1
}

.h2 {
    font-family: "Atma", serif;
}

.entryDate {
    font-size: 1.3rem;
}

.contentBox {
    padding: 0 20px;
}

.h5 {
    margin: 15px 0 0 0;
    font-size: 1.5em;
    color: #27112a;
}

.contentBox p {
    font-size: 1.3rem;
    margin-top: 0;
    background-color: #c9a7d3;
    padding: 0 5px;
    border-radius: 5px;
}

.photoBox {
    width: 80%;
    align-self: center;
    background-color: #5b2662;
    padding: 10px;
    margin-bottom: 20px;
}

.entryPhoto {
    width: 100%;
}